################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################


/NEEngine/packages
/GameExample/x64
/GameExample/bin64
/GameExample/bin
/GameExample/Release
/LBEngine/x64
/LBEngine/bin64
/LBEngine/bin
/LBEngine/Release
/LBEngine/.vs/LBEngine/v16
/LBEngine/.vs/LBEngine2/v16
